# Plotting all graphs

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly as pl
import plotly.offline as poff
import cufflinks as cf

In [2]:
poff.init_notebook_mode(connected=True)
cf.go_offline()

### Define the function for creating data

In [3]:
def create_data(data):
    if (data == 1):
        d = np.random.rand(100, 5)
        df = pd.DataFrame(d, columns=['A', 'B', 'C', 'D', 'E'])
    elif (data == 2):
        columns = []
        rows = []
        print('Enter 5 columns name.')
        for c in range(5):
            columns.append(input())
        print('Enter your rows data(Only integer acceptable).')
        for r in range(5):
            print('Enter row', r+1, 'values.')
            row = []
            for rw in range(5):
                row.append(int(input()))
            rows.append(row)
        df = pd.DataFrame(rows, columns=columns)
    elif (data == 3):
        file = input('Enter file name: ')
        df = pd.read_csv('./data/' + file)
    else:
        print('Please enter correct choice among 1, 2 or 3.')
    return df

### Plotter function for printing different plots for category 1

In [4]:
def plotter1(plot_no):
    if (plot_no == 1):
        final_plot = df.iplot(kind='scatter')
    elif (plot_no == 2):
        final_plot = df.iplot(kind='scatter', mode='markers', symbol='x', colorscale='paired')
    elif (plot_no == 3):
        final_plot = df.iplot(kind='bar')
    elif (plot_no == 4):
        final_plot = df.iplot(kind='hist')
    elif (plot_no == 5):
        final_plot = df.iplot(kind='box')
    elif (plot_no == 6):
        final_plot = df.iplot(kind='surface')
    else:
        final_plot = print('Enter plot choice from 1 to 6.')
    
    return final_plot

### Plotter function for printing different plots for category 2

In [ ]:
def plotter2(plot_no):
    no_of_col = int(input('Enter number of columns that you want to plot the graph(1, 2 or 3): '))
    if no_of_col == 1:
        col_name = input('Enter column name: ')
        if plot_no == 1:
            final_plot = df[col_name].iplot(kind='scatter')
        elif plot_no == 2:
            final_plot = df[col_name].iplot(kind='scatter', mode='markers', colorscale='paired', symbol='x')
        elif plot_no == 3:
            final_plot = df[col_name].iplot(kind='bar')
        elif plot_no == 4:
            final_plot = df[col_name].iplot(kind='hist')
        elif plot_no == 5:
            final_plot = df[col_name].iplot(kind='box')
        elif plot_no == 6 or plot_no == 7:
            final_plot = print('Surface plot and Bubble plot required more than 1 column.')
        else:
            final_plot = print('Enter correct choice from 1 to 7.')
    elif no_of_col == 2:
        first_col = input('Enter first column name: ')
        second_col = input('Enter second colunm name: ')
        if plot_no == 1:
            final_plot = df[[first_col, second_col]].iplot(kind='scatter')
        elif plot_no == 2:
            final_plot = df[[first_col, second_col]].iplot(kind='scatter', mode='markers', colorscale='paired', symbol='x')
        elif plot_no == 3:
            final_plot = df[[first_col, second_col]].iplot(kind='bar')
        elif plot_no == 4:
            final_plot = df[[first_col, second_col]].iplot(kind='hist')
        elif plot_no == 5:
            final_plot = df[[first_col, second_col]].iplot(kind='box')
        elif plot_no == 6:
            final_plot = df[[first_col, second_col]].iplot(kind='surface')
        elif plot_no == 7:
            size = input('Enter sized column name: ')
            final_plot = df.iplot(kind='bubble', x=first_col, y=second_col, size=size)
        else:
            final_plot = print('Please enter correct choice from 1 to 7.')
    elif no_of_col == 3:
        first_col = input('Enter first column name: ')
        second_col = input('Enter second colunm name: ')
        third_col = input('Enter third column name: ')
        if plot_no == 1:
            final_plot = df[[first_col, second_col, third_col]].iplot(kind='scatter')
        elif plot_no == 2:
            final_plot = df[[first_col, second_col, third_col]].iplot(kind='scatter', mode='markers', colorscale='paired', symbol='x')
        elif plot_no == 3:
            final_plot = df[[first_col, second_col, third_col]].iplot(kind='bar')
        elif plot_no == 4:
            final_plot = df[[first_col, second_col, third_col]].iplot(kind='hist')
        elif plot_no == 5:
            final_plot = df[[first_col, second_col, third_col]].iplot(kind='box')
        elif plot_no == 6:
            final_plot = df[[first_col, second_col, third_col]].iplot(kind='surface')
        elif plot_no == 7:
            size = input('Enter sized column name: ')
            final_plot = df.iplot(kind='bubble', x=first_col, y=second_col, z=third_col, size=size)
        else:
            final_plot = print('Please enter correct choice from 1 to 7.')
    else:
        print('Enter number of columns from 1, 2 or 3.')
        
    return final_plot

In [14]:
def plotter2(plot_no):
    no_of_col = int(input('Enter number of columns that you want to plot the graph(1, 2 or 3): '))
    if no_of_col == 1:
        col_name = input('Enter column name: ')
        if plot_no == 1:
            final_plot = df[col_name].iplot(kind='scatter')
        elif plot_no == 2:
            final_plot = df[col_name].iplot(kind='scatter', mode='markers', colorscale='paired', symbol='x')
        elif plot_no == 3:
            final_plot = df[col_name].iplot(kind='bar')
        elif plot_no == 4:
            final_plot = df[col_name].iplot(kind='hist')
        elif plot_no == 5:
            final_plot = df[col_name].iplot(kind='box')
        elif plot_no == 6:
            final_plot = print('Surface plot and Bubble plot required more than 1 column.')
        else:
            final_plot = print('Enter correct choice from 1 to 6.')
    elif no_of_col > 1 and no_of_col <= len(df.columns):
        col_names = []
        for col in range(1, no_of_col+1):
            col_names.append(input('Enter ' + str(col) + ' column name: '))
        if plot_no == 1:
            final_plot = df[col_names].iplot(kind='scatter')
        elif plot_no == 2:
            final_plot = df[col_names].iplot(kind='scatter', mode='markers', colorscale='paired')
        elif plot_no == 3:
            final_plot = df[col_names].iplot(kind='bar')
        elif plot_no == 4:
            final_plot = df[col_names].iplot(kind='hist')
        elif plot_no == 5:
            final_plot = df[col_names].iplot(kind='box')
        elif plot_no == 6:
            final_plot = df[col_names].iplot(kind='surface')
        else:
            final_plot = print('Please enterchice from 1 to 6.')
    else:
        final_plot = print('Enter umber or columns form 1 to', len(df.columns))
    
    return final_plot

### Main function for handling plots

In [6]:
def main(cat):
    if (cat == 1):
        print('Enter which type of graph you want to print.')
        print(' 1. Line Plot\n 2. Scatter Plot\n 3. Bar Plot\n 4. Histogram\n 5. Box Plot\n 6. Surface Plot')
        plot_no = int(input('Enter choice between 1 to 6: '))
        graph_plot = plotter1(plot_no)
    elif (cat == 2):
        print('Enter which type of graph you want to print.')
        print(' 1. Line Plot\n 2. Scatter Plot\n 3. Bar Plot\n 4. Histogram\n 5. Box Plot\n 6. Surface Plot')
        plot_no = int(input('Enter choice between 1 to 6: '))
        graph_plot = plotter2(plot_no)
    else:
        print('Enter choice either 1 or 2.')
    
    return graph_plot

### Working for input choice on which type of data required to plot the graph

In [7]:
print('Enter which type of data you have for ploting the graphs(By Entring 1, 2 or 3).')
print('1.Random data with 100 rows and 5 columns.')
print('2.Customize data with 5 rows and 5 columns.')
print('3.Enter csv file name.')
data = int(input())
df = create_data(data)

Enter which type of data you have for ploting the graphs(By Entring 1, 2 or 3).
1.Random data with 100 rows and 5 columns.
2.Customize data with 5 rows and 5 columns.
3.Enter csv file name.
3
Enter file name: iris.csv

In [8]:
print('Your data look like top 5 rows.')

df.head()

Your data look like top 5 rows.

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [9]:
print('Your data look like last 5 rows')
df.tail()

Your data look like last 5 rows

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

In [10]:
print('Your data\'s info.')
df.info()

Your data's info.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.3+ KB

In [11]:
print('Data describe.')
df.describe()

Data describe.

       SepalLength  SepalWidth  PetalLength  PetalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [12]:
print('Enter 1 for plotting all columns or enter 2 for specifying columns for printing the plot.')
cat = int(input('Enter category: '))

Enter 1 for plotting all columns or enter 2 for specifying columns for printing the plot.
Enter category: 2

In [15]:
main(cat)

Enter which type of graph you want to print.
 1. Line Plot
 2. Scatter Plot
 3. Bar Plot
 4. Histogram
 5. Box Plot
 6. Surface Plot
Enter choice between 1 to 6: 1
Enter number of columns that you want to plot the graph(1, 2 or 3): 12
Enter umber or columns form 1 to 5

In [ ]:
main(cat)

In [ ]:
main(cat)

In [ ]:
main(cat)

In [ ]:
main(cat)

In [ ]:
main(cat)

In [ ]:
print('Enter 1 for plotting all columns or enter 2 for specifying columns for printing the plot.')
cat = int(input('Enter category: '))

In [ ]:
main(cat)

In [ ]:
main(cat)

In [ ]:
main(cat)

In [ ]:
main(cat)

In [ ]:
main(cat)

In [ ]:
main(cat)

In [ ]:
main(cat)

In [ ]:
main(cat)

In [ ]:
main(cat)

In [ ]:
main(cat)

In [ ]:
main(cat)

In [ ]:
main(cat)

In [ ]:
main(cat)

In [ ]:
main(cat)